# Canonical contributor identities (git shows these in log/shortlog/blame)
Muhammad Ayan <m.ayan@students.htl-leonding.ac.at> ayan2310 <ayanm6768@gmail.com>
David Frühwirt <d.fruehwirt@students.htl-leonding.ac.at> David-Fruehwirt <d.fruehwirt@students.htl-leonding.ac.at>
